########################
# Logging Config
########################
# 5 Megabytes per file
MAX_LOG_SIZE_MB=5 
# Keep up to 10 old log files
BACKUP_COUNT=10
LOG_LEVEL="INFO"

########################
# Extraction Config
########################
# Global Rate Limiter for extraction
GBL_RATE_LIMIT=120

########################
# Load Config
########################
DB_PATH='crawl.db'
BATCH_SIZE=100
